#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        base_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <3 2 4>;
            slow-release;
            layers = <0>;
        };

        base_osl_ctr {
            bindings = <&to 8>;
            key-positions = <4 0 3 7>;
            layers = <0>;
        };

        any_to_base {
            bindings = <&to 0>;
            key-positions = <1 5 4 0>;
            layers = <1 2 3 4 5 6>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp A  &kp R  &kp T  &kp S  &kp E  &kp Y  &kp I  &kp O
            >;
        };

        layer_nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_num {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_sym1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_sym2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_func1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_func2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_ctr {
            bindings = <
&to 6  &to 7  &bootloader  &sys_reset  &bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &to 9
            >;
        };

        layer_ble_ctr {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &bt BT_CLR_ALL
            >;
        };
    };
};
